<%- include('./layouts/header')%>

  <header id="main-header" class="py-2 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa-cog"></i> Dashboard
          </h1>
        </div>
      </div>
    </div>
  </header>

  <!-- Actions And Buttons -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal">
            <i class="fas fa-plus"></i> Add Product
          </a>
        </div>
        <div class="col-md-3">
          <a href="" class="btn btn-success btn-block" data-toggle="modal" data-target="#addCategoryModal">
            <i class="fas fa-plus"></i> Add Category
          </a>
        </div>
        <div class="col-md-3">
          <a href="" class="btn btn-warning btn-block" data-toggle="modal" data-target="#addUserModal">
            <i class="fas fa-plus"></i> Add User
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Dashboard Posts -->
  <section id="posts">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h4>Latest order</h4>
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th>ORDER ID</th>
                    <th>PRICE</th>
                    <th>ADDRESS</th>
                    <th>STATUS</th>
                    <th>DATE</th>
                    <th>OPTIONS</th>
                  </tr>
                </thead>
                <tbody>
                  <% let i=1 %>
                  <% if(orders.length > 0){ %>
                    <% orders.sort((a, b) => new Date(b.dateOrdered) - new Date(a.dateOrdered)).forEach( (o,index) =>{%>
                      <tr>
                        <td><%=i%></td>
                        <td><%=o.totalPrice%></td>
                        <td><%=o.shippingAddress1%></td>
                        <td><%=o.status%></td>
                        <td><%= o.dateOrdered.getDate() + '-' + (o.dateOrdered.getMonth() +1) + '-' + o.dateOrdered.getFullYear() %></td>
                        <td>
                          <a href="/admins/order/<%=o._id%>" class="btn btn-secondary btn-sm">
                            <!-- <i class="fas fa-angle-double-right"></i> -->
                            Edit
                          </a>
                          <a href="" id="delete" class="btn btn-secondary btn-sm" data-doc="<%=o._id%>">
                            <!-- truyền vào data-doc -->
                            Delete
                          </a>
                        </td>
                      </tr>
                      <%i++%>
                      <%})%>
                  <%}%>
                  
                  
                </tbody>
              </table>
              <!-- PAGINATION -->
              <div class="ml-4">
                <ul class="pagination">
                  <%if(currentPage>1){%>
                    <li class="page-item">
                      <a href="/admins/dashboard?page=<%=currentPage-1%>" class="page-link">Prev</a>
                    </li>
                    <%}%>
                  <%for(let i=1;i<=totalPage;i++){%>
                    <%if(i===currentPage){%>
                      <li class="page-item active">
                        <a href="" class="page-link"><%=i%></a>
                      </li>
                      <%} else{%>
                        <li class="page-item">
                          <a href="/admins/dashboard?page=<%=i%>" class="page-link"><%=i%></a>
                        </li>
                        <%}%>
                    <%}%>
                    <%if(currentPage<totalPage){%>
                      <li class="page-item">
                        <a href="/admins/dashboard?page=<%=currentPage+1%>" class="page-link">Next</a>
                      </li>
                      <%}%>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card text-center bg-primary text-white mb-3">
            <div class="card-body">
              <h3>Products</h3>
              <h4 class="display-4">
                <i class="fas fa-pencil-alt"></i> <%=products.length%>
              </h4>
              <a href="/admins/product" class="btn btn-outline-light btn-sm">View</a>
            </div>
          </div>
          <div class="card text-center bg-success text-white mb-3">
            <div class="card-body">
              <h3>Categories</h3>
              <h4 class="display-4">
                <i class="fas fa-folder"></i> <%=categories.length%>
              </h4>
              <a href="/admins/category" class="btn btn-outline-light btn-sm">View</a>
            </div>
          </div>
          <div class="card text-center bg-warning text-white mb-3">
            <div class="card-body">
              <h3>Users</h3>
              <h4 class="display-4">
                <i class="fas fa-users"></i> <%=users.length%>
              </h4>
              <a href="/admins/user" class="btn btn-outline-light btn-sm">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    const deleteButtons = document.querySelectorAll('a#delete');

    deleteButtons.forEach(button =>{
      button.addEventListener('click', (e)=>{
        const endpoint = `/admins/delOrder/${button.dataset.doc}`;
        fetch(endpoint, {
          method: 'DELETE'
        })
        .then(response => response.json())
        .then((data)=>{
          window.location.href = data.redirect;
        })
        .catch(err => console.log(err));
      })
    })
  </script>
  <!-- Footer -->

  <footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Copyright &copy; <span id="year"></span>
            JLABS Dashboard
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- MODALS -->

  <!-- Add Post Modal -->
  <div class="modal fade" id="addPostModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Add Product</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="title">Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="title">Description</label>
              <input type="text" class="form-control">
            </div>
            
            <div class="form-group">
              <label for="image">Upload Image</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image">
                <label for="image" class="custom-file-label">Choose File</label>
                <small class="form-text text-muted">Max Size 3mb</small>
              </div>
            </div>
            <div class="form-group">
              <label for="title">Brand</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="title">Price</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <select class="form-control">
                <%categories.forEach(cate =>{%>
                <option value="<%=cate._id%>"><%=cate.name%></option>
                <%})%>
              </select>
            </div>
            <div class="form-group">
              <label for="title">Stock</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="title">Rating</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="title">Number review</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="body">Body</label>
              <textarea name="editor1" class="form-control"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal">
            <i class="fas fa-save"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Category Modal -->
  <div class="modal fade" id="addCategoryModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title">Add Category</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="title">Name</label>
              <input type="text" class="form-control">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" data-dismiss="modal">
            <i class="fas fa-save"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add User Modal -->

  <div class="modal fade" id="addUserModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-warning text-white">
          <h5 class="modal-title">Add User</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="isAdmin">Is Admin</label>
              <select class="form-control" id="isAdmin" name="isAdmin">
                  <option value="true">True</option>
                  <option value="false" selected>False</option>
              </select>
          </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="password2">Confirm Password</label>
              <input type="password" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">
            <i class="fas fa-user"></i>
            Register
          </button>
        </div>
      </div>
    </div>
  </div>


  <script src="http://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>

  <script>
    // Get the current year for the copyright
    $("#year").text(new Date().getFullYear());

    // CKEditor
    CKEDITOR.replace('editor1');
  </script>
</body>

</html>
