<%- include('./layouts/header') %>
  <style>
    #product-image-td img {
      max-width: 70px;
      /* Điều chỉnh kích thước tối đa theo chiều rộng */
      max-height: 100px;
      /* Điều chỉnh kích thước tối đa theo chiều cao */
      /* Thêm các thuộc tính khác nếu cần (ví dụ: padding, margin, ... ) */
    }
  </style>
  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa-pencil-alt"></i> Products
          </h1>
        </div>
      </div>
    </div>
  </header>

  <!-- Add Post Modal -->
  <div class="modal fade" id="addPostModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Add Product</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/admins/addProduct" id="add" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title">Name</label>
              <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
              <label for="title">Description</label>
              <input type="text" class="form-control" name="description">
            </div>

            <!-- <div class="form-group">
              <label for="image">Upload Image</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="file" name="file" accept="image/*">
                <label for="image" class="custom-file-label">Choose File</label>
              </div>
            </div> -->
            <div>
              <label for="avatar">Choose a profile picture:</label>
              <input type="file" id="avatar" name="image" accept="image/png, image/jpeg, image/jpg" />
            </div>

            <div class="form-group">
              <label for="title">Brand</label>
              <input type="text" class="form-control" name="brand">
            </div>
            <div class="form-group">
              <label for="title">Price</label>
              <input type="text" class="form-control" name="price">
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <select class="form-control" name="category">
                <%categories.forEach(cate=>{%>
                  <option value="<%=cate._id%>">
                    <%=cate.name%>
                  </option>
                  <%})%>
              </select>
            </div>
            <div class="form-group">
              <label for="title">Stock</label>
              <input type="text" class="form-control" name="countInStock">
            </div>
            <div class="form-group">
              <label for="title">Rating</label>
              <input type="text" class="form-control" name="rating">
            </div>
            <div class="form-group">
              <label for="title">Number review</label>
              <input type="text" class="form-control" name="numReviews">
            </div>
            <div class="form-group">
              <label for="body">Body</label>
              <textarea name="editor1" class="form-control"></textarea>
            </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" onclick="document.getElementById('add').submit()">
            <i class="fas fa-save"></i>
            Save
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Search Area -->
  <section id="search" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal">
            <i class="fas fa-plus"></i> Add Product
          </a>
        </div>
        <div class="col-md-6 ml-auto">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Product...">
            <div class="input-group-append">
              <button class="btn btn-primary">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Posts -->
  <section id="post">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Products</h4>
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>Rating</th>
                    <th>Reviews</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody>
                  <% let i=1 ;%>
                    <%if(products.length> 0){%>
                      <%products.sort((a,b)=> new Date(b.dateCreated)-new Date(a.dateCreated)).slice(0,5).forEach(pro
                        =>{ %>
                        <tr>
                          <td>
                            <%=i%>
                          </td>
                          <td>
                            <%=pro.name%>
                          </td>
                          <td>
                            <%=pro.description%>
                          </td>
                          <td id="product-image-td"><img src="<%= pro.image%>" alt=""></td>
                          <!-- hiển thị ảnh dùng thẻ image -->
                          <td>
                            <%=pro.brand%>
                          </td>
                          <td>
                            <%=pro.price%>
                          </td>
                          <td>
                            <%=pro.category.name%>
                          </td>
                          <td>
                            <%=pro.countInStock%>
                          </td>
                          <td>
                            <%=pro.rating%>
                          </td>
                          <td>
                            <%=pro.numReviews%>
                          </td>
                          <td>
                            <!-- <a href="/admins/product/<%=pro._id%>" class="btn btn-secondary btn-sm">
                         <i class="fas fa-angle-double-right"></i> -->
                            <!-- Edit -->
                            <!-- </a> -->
                            <a href="/admins/product/<%=pro._id%>" class="btn btn-secondary btn-sm">
                              Edit1
                            </a>
                            <a href="" id="delete" class="btn btn-secondary btn-sm" data-doc="<%=pro._id%>">
                              <!-- <i class="fas fa-angle-double-right"></i> -->
                              Delete
                            </a>
                          </td>
                        </tr>
                        <% i++%>
                          <%})%>
                            <%}%>
                </tbody>
              </table>

              <!-- PAGINATION -->
              <div class="ml-4">
                <ul class="pagination">
                  <%if(currentPage>1){%>
                    <li class="page-item">
                      <a href="/admins/products?page=<%=currentPage-1%>" class="page-link">Prev</a>
                    </li>
                    <%}%>
                      <%for(let i=1;i<=totalPage;i++){%>
                        <%if(i===currentPage){%>
                          <li class="page-item active">
                            <a href="" class="page-link">
                              <%=i%>
                            </a>
                          </li>
                          <%} else{%>
                            <li class="page-item">
                              <a href="/admins/products?page=<%=i%>" class="page-link">
                                <%=i%>
                              </a>
                            </li>
                            <%}%>
                              <%}%>
                                <%if(currentPage<totalPage){%>
                                  <li class="page-item">
                                    <a href="/admins/products?page=<%=currentPage+1%>" class="page-link">Next</a>
                                  </li>
                                  <%}%>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    const deleteButtons = document.querySelectorAll('a#delete');

    deleteButtons.forEach((button) => {
      button.addEventListener('click', (e) => {
        const endpoint = `/admins/delProduct/${button.dataset.doc}`;
        fetch(endpoint, {
          method: 'DELETE'
        })
          .then(response => response.json())
          .then((data) => {
            window.location.href = data.redirect;
          })
          .catch(err => console.log(err));
      })
    })
  </script>
  <%- include('./layouts/footer') %>