<%- include('layouts/header.ejs') %>

	<body>
		<style>
			.primary-btn.order-submit {
				width: 420px;
				padding: 10px;
				font-size: 16px;
			}
		</style>
		<header>
			<%- include('layouts/topHeader.ejs')%>
				<%- include('layouts/mainHeader.ejs')%>
		</header>

		<%- include('layouts/navigation.ejs')%>
			<div id="breadcrumb" class="section">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3 class="breadcrumb-header">
								<%= __("Checkout") %>
							</h3>
							<ul class="breadcrumb-tree">
								<li><a href="#">
										<%= __("Home") %>
									</a></li>
								<li class="active">
									<%= __("Checkout") %>
								</li>
							</ul>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /BREADCRUMB -->

			<!-- SECTION -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">

						<div class="col-md-7">
							<!-- Billing Details -->
							<div class="billing-details">
								<div class="section-title">
									<h3 class="title">
										<%= __("Billingaddress") %>
									</h3>
								</div>
								<!-- FORM ẨN -->
								<form id="paymentForm" action="/api/v1/orders/create-order" method="POST">
									<input type="hidden" name="totalPrice" value="<%= totalPrice %>">
									<input type="hidden" name="user_id" value="<%= user_id %>">
									<!-- Thêm các input hidden cho thông tin địa chỉ -->
									<div class="form-group">
										<input class="input" type="text" name="shippingAddress1" placeholder="
										<%= __(" Address1") %>">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="shippingAddress2" placeholder="
										<%= __(" Address2") %>">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="city" placeholder="
										<%= __(" City") %>">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="country" placeholder="
										<%= __(" Country")%>">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="zip" placeholder="
										<%= __(" ZIPCode") %>">
									</div>
									<div class="form-group">
										<input class="input" type="tel" name="phone" placeholder="
										<%= __(" Telephone")%>">
									</div>
								</form>
								<!-- FORM ẨN -->

								<div class="form-group">
									<div class="input-checkbox">
										<input type="checkbox" id="create-account">
										<label for="create-account">
											<span></span>
											<%= __("CreateAccount?") %>
										</label>
										<div class="caption">
											<p>
												<%= __("welcome") %>
											</p>
											<input class="input" type="password" name="password" placeholder="
											<%= __(" Enter") %>">
										</div>
									</div>
								</div>
							</div>
							<!-- /Billing Details -->

							<!-- Shiping Details -->
							<div class="shiping-details">
								<div class="section-title">
									<h3 class="title">
										<%= __("Shipingaddress?") %>
									</h3>
									<%-include ('layouts/map.ejs') %>
								</div>

							</div>
						</div>
						<!-- Order Details -->
						<div class="col-md-5 order-details">
							<div class="section-title text-center">
								<h3 class="title">
									<%= __("YourOrder?") %>
								</h3>
							</div>
							<div class="order-summary">
								<div class="order-col">
									<div><strong>
											<%= __("PRODUCT") %>
										</strong></div>
									<div><strong>
											<%= __("TOTAL") %>
										</strong></div>
								</div>
								<% quantities.forEach((quantity, index)=> { %>
									<div class="order-products">
										<div class="order-col">
											<!-- IN CẢ 3 GIA TRỊ ĐÒNG THỜI -->
											<div>
												<%= quantity %>x <%= productNames[index] %>
											</div>
											<div>
												<%= prices[index] * quantity %>
											</div>
										</div>
									</div>
									<% }) %>
										<div class="order-col">
											<div>
												<%= __("Shiping") %>
											</div>
											<div><strong>
													<%= __("FREE") %>
												</strong></div>
										</div>
										<div class="order-col">
											<div><strong>
													<%= __("TOTAL") %>
												</strong></div>
											<div><strong class="order-total">
													<%= totalPrice%> VND
												</strong></div>
										</div>
										<div class="order-col">
											<div><!-- Form hidden apply coupon -->

												<form id="checkoutForm" action="/api/v1/orders/applyCoupon"
													method="POST">
													<input type="text" name="nameCoupon" id="nameCouponInput"
														placeholder="Code coupon..." />
													<div id="couponErrorMessage" style="display: none; color: red;">
														Coupon không hợp lệ hoặc đã hết hạn !!!
													</div>
													<div id="couponErrorMessage1" style="display: none; color: red;">
														Chúc mừng apply đơn hàng thành công !!!
													</div>
													<div id="couponErrorMessage2" style="display: none; color: red;">
														Bạn đã áp dụng coupon cho đơn hàng này! Vui lòng không nhập lại
														!!!
													</div>
													<% if(check===1) { %>
														<script>
															const couponInput = document.getElementById('nameCouponInput');
															const errorMessage = document.getElementById('couponErrorMessage');

															couponInput.classList.add('input-error'); // Thêm lớp CSS
															errorMessage.style.display = 'block'; // Hiển thị thông báo
														</script>
														<% } %>
															<% if(check===2) { %>
																<script>
																	const couponInput1 = document.getElementById('nameCouponInput');
																	const errorMessage1 = document.getElementById('couponErrorMessage1');

																	couponInput1.classList.add('input-error'); // Thêm lớp CSS
																	errorMessage1.style.display = 'block'; // Hiển thị thông báo
																</script>
																<% } %>
																	<% if(check===3) { %>
																		<script>
																			const couponInput2 = document.getElementById('nameCouponInput');
																			const errorMessage2 = document.getElementById('couponErrorMessage2');

																			couponInput2.classList.add('input-error'); // Thêm lớp CSS
																			errorMessage2.style.display = 'block'; // Hiển thị thông báo
																		</script>
																		<% } %>


																			<input type="hidden" name="totalPrice"
																				value="<%=totalPrice%>">
																			<input type="hidden" name="userName[]"
																				value="<%=userName%>">
																			<input type="hidden" name="check"
																				value="<%=check%>">
																			<input type="hidden" name="totalPriceCheck"
																				value="<%=totalPriceCheck%>">
																			<!-- GỬI THÊM USER_ID ĐỂ THỰC HIỆN CHO TRANG PAYMENT GỌI LẠI ORDERHISTORY -->
																			<input type="hidden" name="user_id"
																				value="<%=user_id%>">
																			<input type="hidden" name="productNames[]"
																				value="<%= productNames %>">
																			<input type="hidden" name="quantities[]"
																				value="<%= quantities %>">
																			<input type="hidden" name="prices[]"
																				value="<%=prices%>">
												</form>

												<!-- Form  hidden apply coupon vi don hang chua dc luu len ko lay dc orderid -->
											</div>

											<div><button class="btn btn-primary btn-block mt-3" id="place"
													onclick="document.getElementById('checkoutForm').submit()"
													type="button">
													<%= __("Apply coupon") %>
												</button></div>
										</div>
							</div>

							<button type="button" onclick="document.getElementById('paymentForm').submit()"
								class="primary-btn order-submit">
								<%= __("dathang") %>
							</button>

						</div>
						<!-- /Order Details -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /SECTION -->
			<%- include('layouts/newLetter.ejs') %>

				<%- include('layouts/footer.ejs') %>