<%- include('layouts/header.ejs') %>

	<body>
		<!-- HEADER -->
		<header>
			<%- include('layouts/topHeader.ejs')%>
				<%- include('layouts/mainHeader.ejs')%>
		</header>
		<%- include('layouts/navigation.ejs')%>
			<!-- SECTION -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- section title -->
						<div class="col-md-12">
							<div class="section-title">
								<h3 class="title">
									<%= __("NEWPRODUCTS") %>
								</h3>
								<div class="section-nav">
									<ul class="section-tab-nav tab-nav">
										<% if( categories.length> 0){%>
											<% categories.forEach ( c=> {%>
												<li><a data-toggle="tab" href="#tab1">
														<%= __(`${c.name}`)%>
													</a></li>
												<%})%>
													<%}%>
									</ul>
								</div>
							</div>
						</div>
						<!-- /section title -->

						<!-- Products tab & slick -->
						<div class="col-md-12">
							<div class="row">
								<div class="products-tabs">
									<!-- tab -->
									<div id="tab1" class="tab-pane active">
										<div class="products-slick" data-nav="#slick-nav-1">
											<!-- product -->
											<% if(products.length>0){%>
												<% products.forEach( (pro)=>{%>
													<div class="product">
														<% if (isLoggedIn) { %>
															<a href="/api/v1/products/<%= pro._id %>">

																<div class="product-img">
																	<img src="<%= pro.image %>" alt="">
																	<div class="product-label">
																		<span class="sale">-30%</span>
																		<span class="new">NEW</span>
																	</div>
																</div>
																<div class="product-body">
																	<p class="product-category">
																		<%= __(`${pro.category.name}`)%>
																	</p>
																	<h3 class="product-name"><a href="#">
																			<%= pro.name %>
																		</a></h3>
																	<h4 class="product-price">
																		<%= pro.price %> VND<del
																				class="product-old-price">
																				990.00 VND</del>
																	</h4>
																	<div class="product-rating">
																		<% for (let i=0; i < pro.rating; i++) { %>
																			<i class="fa fa-star"></i>
																			<% } %>
																	</div>
																	<div class="product-btns">
																		<button class="add-to-wishlist"><i
																				class="fa fa-heart-o"></i><span
																				class="tooltipp">add to
																				wishlist</span></button>
																		<button class="quick-view"><i
																				class="fa fa-eye"></i><span
																				class="tooltipp">quick
																				view</span></button>
																	</div>
																</div>
															</a>
															<%} else{%>
																<!--SAO CHEP TẠM THOI XỬ LÍ ĐÃ LOGIN VÀ CHƯA LOGIN  -->
																<div class="product-img">
																	<img src="<%= pro.image %>" alt="">
																	<div class="product-label">
																		<span class="sale">-30%</span>
																		<span class="new">NEW</span>
																	</div>
																</div>
																<div class="product-body">
																	<p class="product-category">
																		<%=__(`${pro.category.name}`) %>
																	</p>
																	<h3 class="product-name"><a href="#">
																			<%= pro.name %>
																		</a></h3>
																	<h4 class="product-price">
																		<%= pro.price %> VND <del
																				class="product-old-price">990.000
																				VND</del>
																	</h4>
																	<div class="product-rating">
																		<% for (let i=0; i < pro.rating; i++) { %>
																			<i class="fa fa-star"></i>
																			<% } %>
																	</div>
																	<div class="product-btns">
																		<button class="add-to-wishlist"><i
																				class="fa fa-heart-o"></i><span
																				class="tooltipp">add to
																				wishlist</span></button>
																		<button class="quick-view"><i
																				class="fa fa-eye"></i><span
																				class="tooltipp">quick
																				view</span></button>
																	</div>
																</div>
																<!--SAO CHEP TẠM THOI XỬ LÍ ĐÃ LOGIN VÀ CHƯA LOGIN  -->
																<%}%>
																	<div class="add-to-cart">
																		<% if (isLoggedIn) { %>
																			<!-- ĐẢM BẢO Một FORM MỘt ID -->
																			<form id="addToCartForm-<%= pro._id %>"
																				action="/api/v1/orderItems/add-to-cart"
																				method="POST" style="display: none;">
																				<input type="hidden" name="user_id"
																					value="<%= user.id %>">
																				<input type="hidden" name="product_id"
																					value="<%= pro._id %>">
																				<input type="number" name="quantity"
																					value="1" min="1" required>
																				<input type="number" name="price"
																					value="<%= pro.price %>" readonly>
																			</form>
																			<%}%>
																				<!-- MỖI MỘT ADD TO CART ĐC TRUYỀN THÊM THAM SỐ PRO_ID -->
																				<button class="add-to-cart-btn"
																					onclick="addToCart('<%= pro._id %>')"><i
																						class="fa fa-shopping-cart"></i>
																					<%=__(`addtocart`) %>
																				</button>
																	</div>
													</div>

													<%})%>
														<%}%>

										</div>
										<div id="slick-nav-1" class="products-slick-nav"></div>
									</div>
									<!-- /tab -->
								</div>
							</div>
						</div>
						<!-- Products tab & slick -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /SECTION -->

			<script>
				function addToCart(id) {
					// Gửi form ẩn tới API "/add-to-cart"
					const form = document.getElementById(`addToCartForm-${id}`);// của tưng form nhé
					form.submit();
				}
			</script>
			<!-- HOT DEAL SECTION -->
			<div id="hot-deal" class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="hot-deal">
								<ul class="hot-deal-countdown">
									<li>
										<div>
											<h3>02</h3>
											<span>
												<%=__(`Days`) %>
											</span>
										</div>
									</li>
									<li>
										<div>
											<h3>10</h3>
											<span>
												<%=__(`Hours`) %>
											</span>
										</div>
									</li>
									<li>
										<div>
											<h3>34</h3>
											<span>
												<%=__(`Mins`) %>
											</span>
										</div>
									</li>
									<li>
										<div>
											<h3>60</h3>
											<span>
												<%=__(`Secs`) %>
											</span>
										</div>
									</li>
								</ul>
								<h2 class="text-uppercase">
									<%=__(`hotdealthisweek`) %>
								</h2>
								<p>
									<%=__(`NewCollectionUpto50%OFF`) %>
								</p>
								<a class="primary-btn cta-btn" href="#">
									<%=__(`Shopnow`) %>
								</a>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /HOT DEAL SECTION -->

			<!-- SECTION -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">

						<!-- section title -->
						<div class="col-md-12">
							<div class="section-title">
								<h3 class="title">Top selling</h3>
								<div class="section-nav">
									<ul class="section-tab-nav tab-nav">
										<li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
										<li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
										<li><a data-toggle="tab" href="#tab2">Cameras</a></li>
										<li><a data-toggle="tab" href="#tab2">Accessories</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /section title -->

						<!-- Products tab & slick -->
						<div class="col-md-12">
							<div class="row">
								<div class="products-tabs">
									<!-- tab -->
									<div id="tab2" class="tab-pane fade in active">
										<div class="products-slick" data-nav="#slick-nav-2">
											<!-- product -->
											<div class="product">
												<div class="product-img">
													<img src="./img/product06.png" alt="">
													<div class="product-label">
														<span class="sale">-30%</span>
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">Category</p>
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price">$980.00 <del
															class="product-old-price">$990.00</del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i
																class="fa fa-heart-o"></i><span class="tooltipp">add to
																wishlist</span></button>
														<button class="add-to-compare"><i
																class="fa fa-exchange"></i><span class="tooltipp">add to
																compare</span></button>
														<button class="quick-view"><i class="fa fa-eye"></i><span
																class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>
														add
														to cart</button>
												</div>
											</div>
											<!-- /product -->

											<!-- product -->
											<div class="product">
												<div class="product-img">
													<img src="./img/product07.png" alt="">
													<div class="product-label">
														<span class="new">NEW</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">Category</p>
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price">$980.00 <del
															class="product-old-price">$990.00</del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i
																class="fa fa-heart-o"></i><span class="tooltipp">add to
																wishlist</span></button>
														<button class="add-to-compare"><i
																class="fa fa-exchange"></i><span class="tooltipp">add to
																compare</span></button>
														<button class="quick-view"><i class="fa fa-eye"></i><span
																class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>
														add
														to cart</button>
												</div>
											</div>
											<!-- /product -->

											<!-- product -->
											<div class="product">
												<div class="product-img">
													<img src="./img/product08.png" alt="">
													<div class="product-label">
														<span class="sale">-30%</span>
													</div>
												</div>
												<div class="product-body">
													<p class="product-category">Category</p>
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price">$980.00 <del
															class="product-old-price">$990.00</del></h4>
													<div class="product-rating">
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i
																class="fa fa-heart-o"></i><span class="tooltipp">add to
																wishlist</span></button>
														<button class="add-to-compare"><i
																class="fa fa-exchange"></i><span class="tooltipp">add to
																compare</span></button>
														<button class="quick-view"><i class="fa fa-eye"></i><span
																class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>
														add
														to cart</button>
												</div>
											</div>
											<!-- /product -->

											<!-- product -->
											<div class="product">
												<div class="product-img">
													<img src="./img/product09.png" alt="">
												</div>
												<div class="product-body">
													<p class="product-category">Category</p>
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price">$980.00 <del
															class="product-old-price">$990.00</del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i
																class="fa fa-heart-o"></i><span class="tooltipp">add to
																wishlist</span></button>
														<button class="add-to-compare"><i
																class="fa fa-exchange"></i><span class="tooltipp">add to
																compare</span></button>
														<button class="quick-view"><i class="fa fa-eye"></i><span
																class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>
														add
														to cart</button>
												</div>
											</div>
											<!-- /product -->

											<!-- product -->
											<div class="product">
												<div class="product-img">
													<img src="./img/product01.png" alt="">
												</div>
												<div class="product-body">
													<p class="product-category">Category</p>
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price">$980.00 <del
															class="product-old-price">$990.00</del></h4>
													<div class="product-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="product-btns">
														<button class="add-to-wishlist"><i
																class="fa fa-heart-o"></i><span class="tooltipp">add to
																wishlist</span></button>
														<button class="add-to-compare"><i
																class="fa fa-exchange"></i><span class="tooltipp">add to
																compare</span></button>
														<button class="quick-view"><i class="fa fa-eye"></i><span
																class="tooltipp">quick view</span></button>
													</div>
												</div>
												<div class="add-to-cart">
													<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>
														add
														to cart</button>
												</div>
											</div>
											<!-- /product -->
										</div>
										<div id="slick-nav-2" class="products-slick-nav"></div>
									</div>
									<!-- /tab -->
								</div>
							</div>
						</div>
						<!-- /Products tab & slick -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /SECTION -->

			<%- include('layouts/newLetter.ejs') %>

				<%- include('layouts/footer.ejs') %>

	</body>

	</html>