<%- include('layouts/header.ejs') %>

	<body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<%- include('layouts/topHeader.ejs')%>
				<!-- /TOP HEADER -->

				<!-- MAIN HEADER -->
				<%- include('layouts/mainHeader.ejs')%>
					<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<%- include('layouts/navigation.ejs')%>

			<!-- SECTION -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- Product main img -->
						<div class="col-md-5 col-md-push-2">
							<div id="product-main-img">
								<div class="product-preview">
									<img src="<%= product.image%>" alt="">
								</div>

								<div class="product-preview">
									<img src="<%= product.image%>" alt="">
								</div>

								<div class="product-preview">
									<img src="<%= product.image%>" alt="">
								</div>

								<div class="product-preview">
									<img src="<%= product.image%>" alt="">
								</div>
							</div>
						</div>
						<!-- /Product main img -->

						<!-- Product thumb imgs -->
						<div class="col-md-2  col-md-pull-5">
							<div id="product-imgs">

								<div class="product-preview">
									<img src="<%= product.image%>" alt="">
								</div>

								<div class="product-preview">
									<img src="<%= product.image%>" alt="">
								</div>

								<div class="product-preview">
									<img src="<%= product.image%>" alt="">
								</div>
							</div>
						</div>
						<!-- /Product thumb imgs -->

						<!-- Product details -->
						<div class="col-md-5">
							<div class="product-details">
								<h2 class="product-name">
									<%=__(`${product.name}`) %>
								</h2>
								<div>
									<div class="product-rating">
										<% for(let i=0;i<product.rating;i++){%>
											<i class="fa fa-star"></i>
											<%}%>
												<% for(let i=product.rating;i<5;i++){%>
													<i class="fa fa-star-o"></i>
													<%}%>
									</div>
									<a class="review-link" href="#">
										<%= product.numReviews%>
											<%=__(`Review(s)`)%>
									</a>
								</div>
								<div>
									<h3 class="product-price">
										<%= product.price%> VND <del class="product-old-price">990.00 VND</del>
									</h3>
									<span class="product-available">
										<%=__(`InStock`) %>
									</span>
								</div>
								<p>
									<%= product.description%>
								</p>

								<div class="product-options">
									<label>
										<%=__(`Size`) %>
											<select class="input-select">
												<option value="0">X</option>
											</select>
									</label>
									<label>
										<%=__(`Color`) %>
											<select class="input-select">
												<option value="0">Red</option>
											</select>
									</label>
								</div>

								<div class="add-to-cart">
									<div class="qty-label">
										<%=__(`Qty`) %>
											<div class="input-number">
												<input type="number" id="product-qty" value="1" min="1">
												<span class="qty-up">+</span>
												<span class="qty-down">-</span>
											</div>
									</div>

									<form id="addToCartForm" action="/api/v1/orderItems/add-to-cart" method="POST"
										style="display: none;">
										<input type="hidden" name="user_id" value="<%= user._id %>">
										<input type="hidden" name="product_id" value="<%= product._id %>">
										<!-- Truyền product_id của sản phẩm -->
										<input type="number" name="quantity" id="quantity" value="1" min="1" required>
										<!-- Chọn số lượng -->
										<input type="number" name="price" value="<%= product.price %>" readonly>
										<!-- Giá của sản phẩm (readonly) -->
									</form>

									<button class="add-to-cart-btn" onclick="updateQuantityAndSubmit()"><i
											class="fa fa-shopping-cart"></i>
										<%=__(`addtocart`) %>
									</button>

								</div>
								<script>
									const qtyInput = document.getElementById('product-qty');
									const qtyUpBtn = document.querySelector('.qty-up');
									const qtyDownBtn = document.querySelector('.qty-down');
									const quantityInput = document.getElementById('quantity');

									qtyUpBtn.addEventListener('click', () => {
										const currentValue = parseInt(qtyInput.value);
										qtyInput.value = currentValue += 1;
									});

									qtyDownBtn.addEventListener('click', () => {
										const c = parseInt(qtyInput.value);
										if (c > 1) {
											qtyInput.value = c -= 1;
										} else { c = 1 }

									});
									// cập nhật số lương thay đổi nhé
									function updateQuantityAndSubmit() {
										const currentValue = parseInt(qtyInput.value);
										quantityInput.value = currentValue; // Cập nhật giá trị cho input quantity
										document.getElementById('addToCartForm').submit(); // Submit form
									}

								</script>
								<ul class="product-links">
									<li>
										<%=__(`Category`) %>:
									</li>
									<li><a href="#">
											<%=product.brand%>
										</a></li>
									<li><a href="#">
											<%=__(`${product.category.name}`)%>
										</a></li>
								</ul>

								<ul class="product-links">
									<li>
										<%=__(`Share`) %>:
									</li>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-envelope"></i></a></li>
								</ul>

							</div>
						</div>
						<!-- /Product details -->

						<!-- Product tab -->
						<div class="col-md-12">
							<div id="product-tab">
								<!-- product tab nav -->
								<ul class="tab-nav">
									<!-- <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
								<li><a data-toggle="tab" href="#tab2">Details</a></li> -->
									<li><a data-toggle="tab" href="#tab3">
											<%=__(`Review(s)`) %>(3)
										</a></li>
								</ul>
								<!-- tab3  -->
								<div id="tab3" class="tab-pane fade in">
									<div class="row">
										<!-- Rating -->
										<div class="col-md-3">
											<div id="rating">

												<div class="rating-avg">
													<span>
														<%=rating_avg%>
													</span>
													<div class="rating-stars">
														<% let count=0 ;%>
															<% const fullStar=Math.floor(rating_avg)%>
																<% for(let i=0; i< fullStar;i++){%>
																	<i class="fa fa-star"></i>
																	<% count +=1 %>
																		<%}%>
																			<% if(rating_avg % 1 !==0){%>
																				<i class="fa fa-star-half"
																					style="color: rgb(210, 36, 36);"></i>
																				<!-- Sử dụng biểu tượng nửa sao màu đỏ -->
																				<% count +=1 %>
																					<%}%>
																						<%for(let i=count;i<5;i++){%>
																							<i class="fa fa-star-o"></i>
																							<%}%>
													</div>
												</div>
												<ul class="rating">
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 80%"></div>
														</div>
														<span class="sum">
															<%= ratingStar[5]%>
														</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 60%"></div>
														</div>
														<span class="sum">
															<%= ratingStar[4]%>
														</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">
															<%= ratingStar[3]%>
														</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">
															<%= ratingStar[2]%>
														</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">
															<%= ratingStar[1]%>
														</span>
													</li>
												</ul>
											</div>
										</div>
										<!-- /Rating -->

										<!-- Reviews -->
										<div class="col-md-6">
											<div id="reviews">
												<ul class="reviews">
													<% if(review.length> 0){%>
														<%review.forEach( r=>{%>
															<li>
																<div class="review-heading">
																	<h5 class="name">
																		<%=r.user?.name%>
																	</h5>
																	<p class="date">
																		<%=r.createAt.getDate() + '-' +
																			(r.createAt.getMonth()+1) +'-'+
																			r.createAt.getFullYear() + '  ' +
																			r.createAt.getHours()+':'+r.createAt.getMinutes()%>
																	</p>
																	<div class="review-rating">
																		<% for(let i=0; i<r.rating;i++){%>
																			<i class="fa fa-star"></i>
																			<%}%>
																				<% for(let i=r.rating; i<5;i++){%>
																					<i class="fa fa-star-o empty"></i>
																					<%}%>

																	</div>
																</div>
																<div class="review-body">
																	<p>
																		<%=r.review%>
																	</p>
																</div>
															</li>
															<%})%>
																<%}%>

												</ul>
												<ul class="reviews-pagination">
													<% if (currentPage> 1) { %>
														<li>
															<a
																href="/api/v1/products/<%= product._id %>?page=<%= currentPage - 1 %>">
																<i class="fa fa-angle-left"></i>
															</a>
														</li>
														<% } %>

															<% for (let i=1; i <=totalPage; i++) { %>
																<!-- chay tu 1-n -->
																<% if (i===currentPage) { %>
																	<li class="active">
																		<%= i %>
																	</li>
																	<% } else { %>
																		<li>
																			<a
																				href="/api/v1/products/<%= product._id %>?page=<%= i %>">
																				<%= i %>
																			</a>
																		</li>
																		<% } %>
																			<% } %>

																				<% if (currentPage < totalPage) { %>
																					<li>
																						<a
																							href="/api/v1/products/<%= product._id %>?page=<%= currentPage + 1 %>">
																							<i
																								class="fa fa-angle-right"></i>
																						</a>
																					</li>
																					<% } %>
												</ul>
											</div>
										</div>
										<!-- /Reviews -->

										<!-- Review Form -->
										<div class="col-md-3">
											<div id="review-form">
												<form class="review-form" method="POST"
													action="/api/v1/products/review/<%=product._id%>">
													<input class="input" type="text" placeholder="<%=__(`YourName`) %>">
													<input class="input" type="email"
														placeholder="<%=__(`YourEmail`) %>">
													<textarea class="input" name="review"
														placeholder="<%=__(`YourReview`) %> "></textarea>
													<div class="input-rating">
														<span>
															<%=__(`YourRating`) %>:
														</span>
														<div class="stars">
															<input id="star5" name="rating" value="5"
																type="radio"><label for="star5"></label>
															<input id="star4" name="rating" value="4"
																type="radio"><label for="star4"></label>
															<input id="star3" name="rating" value="3"
																type="radio"><label for="star3"></label>
															<input id="star2" name="rating" value="2"
																type="radio"><label for="star2"></label>
															<input id="star1" name="rating" value="1"
																type="radio"><label for="star1"></label>
														</div>
													</div>
													<button class="primary-btn">
														<%=__(`Submit`) %>
													</button>
												</form>
											</div>
										</div>
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
								<!-- </div> -->
								<!-- /product tab content  -->
							</div>
						</div>
						<!-- /product tab -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /SECTION -->

			<%- include('layouts/newLetter.ejs') %>

				<%- include('layouts/footer.ejs') %>

	</body>

	</html>