<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">
                            <%= __("AboutUs") %>
                        </h3>
                        <p>
                            <%= __("welcome")%>
                        </p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>255 Nguyễn Văn Trỗi</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+035-966-9999</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>nguyenvanthai@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">
                            <%= __("CATEGORIES") %>
                        </h3>
                        <ul class="footer-links">
                            <li><a href="#">
                                    <%= __("Hotdeals") %>
                                </a></li>
                            <li><a href="#">
                                    <%= __("Laptops") %>
                                </a></li>
                            <li><a href="#">
                                    <%= __("Smartphones") %>
                                </a></li>
                            <li><a href="#">
                                    <%= __("Cameras") %>
                                </a></li>
                            <li><a href="#">
                                    <%= __("Accessories") %>
                                </a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">
                            <%=__("Information")%>
                        </h3>
                        <ul class="footer-links">
                            <li><a href="#">
                                    <%=__("AboutUs")%>
                                </a></li>
                            <li><a href="#">
                                    <%=__("ContactUs")%>
                                </a></li>
                            <li><a href="#">
                                    <%=__("PrivacyPolicy")%>
                                </a></li>
                            <li><a href="#">
                                    <%=__("OrdersandReturns")%>
                                </a></li>
                            <li><a href="#">
                                    <%=__("TermsConditions")%>
                                </a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">
                            <%=__("Service")%>
                        </h3>
                        <ul class="footer-links">
                            <li><a href="#">
                                    <%=__("MyAccount")%>
                                </a></li>
                            <li><a href="#">
                                    <%=__("ViewCart")%>
                                </a></li>
                            <li><a href="#">
                                    <%=__("Wishlist")%>
                                </a></li>
                            <li><a href="#">
                                    <%=__("TrackMyOrder")%>
                                </a></li>
                            <li><a href="#">
                                    <%=__("Help")%>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->


</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/nouislider.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/main.js"></script>

</body>

</html>